.first{background-color:#3399ff}

.second{background-color:#cce5ff}

.third{background-color:#33cccc}


h3 {
	color: black;
	font-family: "Arial";
	font-weight: bold;
}

p {
	font-family: "Arial";
	font-size: medium;
}
